#reviews {
	background-color: rgb(221, 221, 221);
	grid-column: 8/13;
}
#rating {
	background-color: rgb(221, 221, 221);
	grid-column: 16/ 20;
}
#analysis {
	background-color: rgb(221, 221, 221);
	grid-column: 23/ 27;
}
#visitors {
	background-color: rgb(221, 221, 221);
	/* margin-top: 1em; */
	grid-row: 3/7;
	grid-column: 8/32;
    /* display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
} 
/* the parent div needs it's own styling so that the children will be affected  */
#visitor p{
    position: absolute;
}
#div {
	background-color: rgb(190,189,189);
	grid-row: 6/10;
	width: 100px;
	height: 100px;
}
.top-component {
	margin-top: 1em;
}
